.ui.container.step-page {
  padding: 1.2em 5em;
  table {
    animation: table-in 0.3s both;
    transition-timing-function: ease-in;
    opacity: 0;
    th {
      text-align: center;
      &.sub-title {
        padding: 7px 0 3px;
        font-weight: 200;
      }
    }
    tbody {
      border-bottom: 1px solid rgba(34,36,38,.1);
      select.ui {
        background: #f9fafb;
        border-radius: 3px;
      }
      &.done {
        background: #eae5b8;
        select.dropdown {
          background: #eae5b8;
        }
      }
      td {
        .ui.toggle.checkbox input:checked~.box:before,
        .ui.toggle.checkbox input:checked~label:before {
          background-color: #2185d0 !important;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .ui.container.setting-page {}
}
