.ui.container.index-page {
  padding: 1em 2.5em;
  .row {
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    .col-3 {
      width: 34%;
    }
    .col-2 {
      width: 27%;
    }
  }
}
